<configuration>
	<!-- 控制台输出器 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5thread %-5level %logger{1} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="info" />
	
	<root level="info">
		<appender-ref ref="stdout" />
	</root>
</configuration>